/* 主題 */
* {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.one-theme {
    background-color: #ffffff;
    color: rgb(0, 0, 0, 1);
}
.sec-theme {
    /* background-color: rgb(255, 255, 255, 0.5)
    backdrop-filter: blur(0.8); */
    background-color: #ffffff;
}
.pm-0 {
    padding: 0;
    margin: 0;
}

/* 物件 */
.span-live {
    background-color: red;
    color: white;
    font-size: 0.4em;
    border-radius: 0.2em;
    padding-left: .5rem!important;
    padding-right: .5rem!important;
    margin: auto auto;
}
.nav {
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.2);
    display: flex;
    height: 5rem;
    z-index: 500;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.548);
}
.h1-nav {
    margin: auto 1rem;
}
.ul-nav {
    position: relative;
    left: auto;
    right: 0;
    margin: auto 2rem;
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: 1.2rem;
}
.ul-nav > li, .ul-nav > li > a:visited {
    margin: 0 0.4rem;
    color: rgb(0, 0, 0, 1);
}
.sol {
    background-color: rgba(255, 255, 255, 0.4);
    height: 80vh;
}
.p-sol {
    margin: 0;
}
.main-sol {
    box-shadow:rgba(0, 0, 0, 0.2) 0px 6px 16px 0px;
    height: 50vh;
    width: 50vw;
    position: relative;
    margin: 0 auto;
}
.main-sol > iframe {
    height: 100%;   
    width: 100%;
}
.bg-sol {
    /* display: none; */
    display: block;
    z-index: -100;
    justify-content: center;
    position: fixed;
    top: -10vh;
    left: -50vw;
    height: 100vh;
    width: 200vw;
}
.title-sol {
    top: 40vh;
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
}
.title-sol > h1 {
    font-size: 3em;
}
.title-sol > p {
    font-size: 1.5rem;
}
.list {
    background-color: rgb(255, 255, 255);
    padding: 3em 5vw;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.2);

}
.list > h2 {
    font-size: 2em;
}
.img {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(https://cdn.mos.cms.futurecdn.net/4mWwNFGZKBP69GEVEsovwW.jpg);
}
.txt-img {
    background-color: rgba(255, 255, 255, 0.781);
    position: absolute;
    padding: 2em;
    margin: 5em;
    right: 0;
    height: auto;
}
.txt-img > h1 {
    font-size: 2.5em;
}
.txt-img > p {
    font-size: 1.2em;
}
.block2 {
    height: 30vh;
    background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 1024px) {
.bg-sol {
    display: block;
    z-index: -100;
    justify-content: center;
    position: fixed;
    top: -10vh;
    left: -50vw;
    height: 100vh;
    width: 200vw;
    /* -webkit-filter: blur(8px);
    filter: blur(8px); */
}
.img {
    height: 60vh;
}
.txt-img {
    width: 40vw;
}
}

















/* TEST */
body {
    height: 500vh;
}
.list {
    height: 50vh;
}